* {
    font-family:sans-serif;

}

.banner {
    color: white;
    background-color: #0001be;
    font-style: italic;
    font-size: 33px;
}


.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}
