* {
    font-family:sans-serif;

}

.banner {
    color: white;
    background-color: #0001be;
    font-style: italic;
    font-size: 33px;
}

#page_about{
    font-style: italic;
    color: grey;
   
    
  
}

#about_heading{
    text-align: center;
}

  .container {
        display: flex;
        align-items: center;
        justify-content: center
      }
      img {
        max-width: 100%;
        padding: 40px 70px 40px 40px;
        border-radius: 40px;
      }
      #riga_cat {
        flex-basis: 40%
      }
      #about_text {
        font-size: 20px;
        padding-left: 20px'
      }


   

