

* {
    color: white;
    background-color: #0001be;
    font-size: 33px;
    margin: 30px;
    text-align: center;
    font-family:sans-serif;
}


.banner{ 
    font-size: 38px;
    font-style: italic;
}

h2 {
    font-style: italic;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: transparent;
}

.sidebar a:hover {
  color: #f1f1f1;
   background-color: transparent;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 18px;
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 20px 15px;
  border: 3px solid lightblue;
  margin: 30px;
  position: static;
  top: 16%;
 
    
}

.openbtn:hover {
  background-color: lightblue;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
   
    
  


#about_heading{
    text-align: center;
}


.container {
        display: flex;
        align-items: center;
        justify-content: center
      }

img {
        max-width: 100%;
        margin: 40px 70px 10px 40px;
        
      }


#riga_cat {
        flex-basis: 40%;
        border-radius: 40px;
        border: 3px solid lightblue;
        width: 70%;
        height: auto;
    
            
      } 

#about_text {
        font-size: 20px;
        padding-left: 20px;
      }

#experience_text {
    font-size: 20px;
}

#wedding_pic {
    flex-basis: 40%;
    border: 3px solid lightblue;
    border-radius: 40px;
}

figcaption {
    font-size: 17px;
}
   

